

.container{
    width: 1000px;
    background-color: steelblue;
    border-radius: 1rem;
}
.title{
    font-size: 20px;
    padding: 20px;
}
.title>span{
    font-size: 25px;
    color: rgb(23, 228, 23);
    margin-left: 10px;
    text-transform: uppercase;
}
.idNamSecond>div{
    display: flex;
    justify-content: space-between;
}
.idName{
    display: block;
    justify-content: left;
    padding: 10px;
    width: 170px;
    position: relative;
    
}
.idNam{
    background-color: rgb(80, 78, 78);
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 10px;
}
.name{
    background-color: rgb(80, 78, 78);
    border-radius: 0.25rem;
    padding: 10px;
}
.pokemonImagen{
    position: absolute;
    width: 200px;
}
.Imagen>button{
    margin-top: 10px;
    background-color: rgb(250, 167, 65);
}
.imagePokemon>img{
    width: 300px;
}

.imagePokemon{
    position: absolute;
    top: 20px;
    left: 400px;
}