
.buscadorPokemon{
    width: 1000px;
    border-radius: 1rem;
}
.buscadorPokemon_h1{
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
    color: rgb(10, 195, 10);
}
